body{
    background-color: rgb(0, 0, 0);
    margin: 50px;
   
  

}
p{
    color: blue;
    text-shadow: 2px 2px 2px #000;
}
h1{
    color: aqua;
    text-shadow: 2px 3px 4px #000;
    margin: 30px;
}
h2{
    color: chocolate;
    
    text-shadow: 2px 2px 2px #000;
}
table:hover{
    transform: rotate(10deg);
    transition: 400ms;
    border: 2px solid #000;
    color: aqua;
    background-color: blueviolet;
    text-shadow: 1px 1px 1px #000;
    width: 250px;
    margin: 50px ;
    border-radius: 10px 10px 10px;
}
td{
    color: aqua;
    width: 3;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
}
p{
    color: red;
    margin: 30px;
    text-shadow: 10px 10px 10px #000;
}
h3{
    color: greenyellow;
    text-shadow: -1px -1px -1px #000;
}
li{
    color: white;
    text-shadow: -1px -1px -1px #001b17;
}

div .container {
    background-color: orange;
    display: flex;
    padding: 10px;
}
div .item {
background-color: rgb(48, 34, 6);
width: 500px;
border: 2px solid #16e4c5;
box-shadow: 1px 1px 10px #f4a9a9;
}